/* CSS declarations go here */
.navbar{
    display:block;
}
.navbar{
    border-radius: 0px;
}
.error{
    text-align: center;
}
.error > h1{
    margin-top: 45px;
    font-size: 65px;
}
.glyphicon-remove-circle{
    margin-top: 25px;
    font-size: 115px;
    color: #929292;
    opacity: 0.5;
}